<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{partials :: head}"></head>

<body>

    <div class="container-fluid p-0 m-0">
        <div class="nav-bg-gradient h-auto">
            <div class="container">
                <nav th:replace="~{partials :: navbar}"></nav>
            </div>
        </div>

        <div class="container px-lg-5">
            <div class="row align-items-start align-content-center justify-content-center m-3">
                <div class="container justify-content-center mb-3">
                    <button class="btn btn-md btn-light col-lg-1 mx-auto" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        Menu
                    </button>
                    <a class="col-lg-1 btn btn-md btn-light mx-auto"
                        th:href="@{/hellobank/view/inicio/{idCliente}(idCliente=${cliente.id})}">
                        Início
                    </a>
                    <div class="offcanvas offcanvas-start menu-offcanvas" data-bs-backdrop="static" tabindex="-1"
                        id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                        <div class="offcanvas-header">
                            <h3 class="offcanvas-title text-light" id="staticBackdropLabel">Opções</h3>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/saldo/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-sack-dollar menu-icon-lg"></i> Saldo </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/extrato/cliente/{idCliente}(idCliente=${cliente.id})}">
                                    <i class="fa-solid fa-money-bill-trend-up menu-icon-lg"></i> Extrato </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/saque/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-hand-holding-dollar menu-icon-lg"></i> Saque </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/transferencia/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-money-bill-transfer menu-icon-lg"></i> Transferir </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/nova_conta/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-square-plus menu-icon-lg"></i> <span>Nova Conta</span> </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/deposito/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-money-bill-1-wave menu-icon-lg"></i> Depósito </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/config_dados/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-id-card menu-icon-lg"></i> Meus dados </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container justify-content-center border p-3 rounded-4 ">

                    <form class="m-3 p-3" th:object="${cliente}" th:action="@{/hellobank/view/config_dados/{idCliente}(idCliente=${cliente.id})}" method="post">
                        <legend><b>Configurações</b> - Meus Dados </legend>
                        <input style="color: red" th:field="*{id}" id="id" name="id" disabled></input>
                        <div class="col">
                            <div class="form-floating mb-4">
                                <input type="text" th:field="*{nome}" class="form-control" id="nome" name="nome" placeholder="Nome e Sobrenome"
                                    value="Nome e Sobrenome do Usuário" required />
                                <label for="nome">Nome Completo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-4">
                                    <input th:field=*{email} type="email" class="form-control" id="email" name="email"
                                        placeholder="nome@email.com" required />
                                    <label for="floatingEmail">E-mail</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-4">
                                    <input th:field="*{senha}" type="password" class="form-control" minlength="5" id="senha" name="senha" placeholder="******" required />
                                    <label for="floatingSenha">Senha</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-4">
                                <input th:field="*{endereco}"type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço Completo" required />
                                <label for="nome">Endereco</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-4">
                                    <input type="text" th:field="*{cpfCnpj}" class="form-control" id="cpfCnpj" name="cpfCnpj"
                                        placeholder="000.000.000-00" readonly />
                                    <label for="cpfCnpj">CPF | CNPJ</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-4">
                                    <input th:field="*{contato}" type="text" class="form-control" id="contato" name="contato">
                                    <label for="contato">Contato</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center align">
                                    <button type="submit" class="btn btn-lg btn-warning mx-3">Salvar Alterações</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container mt-5 mb-0 pb-0 pt-5">
                <p class="text-center text-muted border-bottom m-1">Grupo 2</p>
                <p class="text-center text-muted m-1">2022 - If Black Then Code</p>
            </div>
        </div>
    </div>

    <div th:replace="~{partials :: scripts}"></div>
</body>

</html>