<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{partials :: head}"></head>

<body>

    <div class="container-fluid p-0 m-0">
        <div class="nav-bg-gradient h-auto">
            <div class="container">
                <nav th:replace="~{partials :: navbar}"></nav>
            </div>
        </div>

        <div class="container px-lg-5">
            <div class="row align-items-start align-content-center justify-content-center m-3">
                <div class="container justify-content-center mb-3">
                    <button class="btn btn-md btn-light col-lg-1 mx-auto" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        Menu
                    </button>
                    <a class="col-lg-1 btn btn-md btn-light mx-auto" th:href="@{/hellobank/view/inicio/{idCliente}(idCliente=${cliente.id})}">
                        Início
                    </a>
                    <div class="offcanvas offcanvas-start menu-offcanvas" data-bs-backdrop="static" tabindex="-1"
                        id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                        <div class="offcanvas-header">
                            <h3 class="offcanvas-title text-light" id="staticBackdropLabel">Opções</h3>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/saldo/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-sack-dollar menu-icon-lg"></i> Saldo </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/extrato/cliente/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-money-bill-trend-up menu-icon-lg"></i> Extrato </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/saque/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-hand-holding-dollar menu-icon-lg"></i> Saque </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/transferencia/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-money-bill-transfer menu-icon-lg"></i> Transferir </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/nova_conta/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-square-plus menu-icon-lg"></i> <span>Nova Conta</span> </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/deposito/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-money-bill-1-wave menu-icon-lg"></i> Depósito </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning"
                                    th:href="@{/hellobank/view/config_dados/{idCliente}(idCliente=${cliente.id})}"> <i
                                        class="fa-solid fa-id-card menu-icon-lg"></i> Meus dados </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container justify-content-center border p-3 rounded-4 ">

                    <form th:action="@{/hellobank/view/extrato}" method="post" th:object="${formConta}" class="mb-3 p-3 border-bottom">
                        <legend> <b>Extrato</b> - Selecione a conta desejada </h4>
                        </legend>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="input-group mb-3">
                                    <select class="form-select" th:field="*{numeroConta}" id="inputTipoConta">
                                        <option th:each="c : ${contas}" th:value="${{c.numeroConta}}"><span
                                                th:text="${{c.tipo.nome}}"></span></option>
                                    </select>
                                    <button type="submit" class="btn btn-warning"> Gerar Extrato </button>
                                </div>
                            </div>
                        </div>
                </div>
                </form>

                <table class="table table-hover table-striped" style="font-size: 0.8em">
                    <thead>
                        <tr class="table-warning">
                            <th>Conta Nº: <b th:text="${{conta.numeroConta}}"></b></th>
                            <th>Tipo: <b th:text="${{conta.tipo.nome}}"></b></th>
                            <th colspan="2"></th>
                        </tr>
                        <tr class="table-dark" style="font-size: 0.8em">
                            <th scope="col">Transação</th>
                            <th scope="col">Data</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Destino</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transacao : ${transacoes}">
                            <th scope="row" th:text="${{transacao.tipoTransacao.nome}}"></th>
                            <td th:text="${{transacao.data}}"></td>
                            <td>R$ <span th:text="${{transacao.valor}}"></span></td>
                            <td>
                                <span th:if="${{transacao.contaDestino != null}}"
                                    th:text="${{transacao.contaDestino.numeroConta}}"></span>
                            </td>
                        </tr>
                        <tr th:if="${transacoes.isEmpty()} == true">
                            <td class="text-center text-danger" colspan="4">Não registros de transações para esta conta.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-5 mb-0 pb-0 pt-5">
            <p class="text-center text-muted border-bottom m-1">Grupo 2</p>
            <p class="text-center text-muted m-1">2022 - If Black Then Code</p>
        </div>
    </div>
    </div>
    <div th:replace="~{partials :: scripts}"></div>
</body>

</html>