<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{partials :: head}"></head>

<body id="bg-gradient">
    <!-- Container -->
    <div class="container-fluid">

        <!-- Navbar -->

        <div class="container">
            <nav th:replace="~{partials :: navbar-index}">
            </nav>
        </div>

        <!-- Conteúdo da página -->

        <!-- Formulário de cadastro -->
        <div class="container-md text-center mt-0">
            <div class="row text-light">
                <h2 class="text-light">Formulário de Cadastro</h2>
                <p> Passo <b>2</b> de 2 : Escolha o tipo de conta que deseja criar.</p>
            </div>
        </div>
        <div class="container-sm w-50">
            <form th:action="@{/hellobank/view/cadastro/{idCliente}(idCliente=${cliente.id})}" method="post">
                <span style="color: red;">
                    <input type="number" th:field="*{cliente}" th:value="${idCliente}" th:text="${idCliente}" name="cliente" id="cliente" readonly>
                </span>
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select th:field="*{tipo}" class="form-select">
                                <option selected th:value="0">Escolha o tipo de conta</option>
                                <option th:each="tipoConta : ${tiposConta}" th:value="${tipoConta.codigo}" th:text="${tipoConta.nome}" ></option>
                            </select>
                            <input type=submit class="btn btn-lg btn-warning" value="Confirmar Cadastro" />
                        </div>
                    </div>
                </div>
            </form>            
            <form th:object="${cliente}" class="bg-light p-3 bg-opacity-25 border border-light rounded-4">
                <legend class="text-light">Seus dados:</legend>
                <div class="justify-content-center">
                    <div class="row">
                        <div class="col form-floating mb-3">
                            <input th:field="*{nome}" type="text" class="form-control" id="nome" placeholder="Nome e Sobrenome" disabled>
                            <label for="nome">Nome Completo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="nome@email.com" disabled>
                                <label for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <label for="senha">Senha</label>
                                <input th:field="*{senha}" type="password" class="form-control" id="senha" placeholder="******" disabled>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input th:field="*{endereco}"  type="text" class="form-control" id="endereco" placeholder="Endereço Completo" disabled>
                            <label for="endereco">Endereco</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb">
                                <input th:field="*{cpfCnpj}" type="text" class="form-control" id="cpfCnpj" placeholder="000.000.000-00" disabled>
                                <label for="cpfCnpj">CPF | CNPJ</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input th:field="*{contato}" type="number" class="form-control" id="contato"
                                    placeholder="(xx) 99999-9999" disabled>
                                <label for="contato">Contato</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{partials :: footer-login}"></div>

    <div th:replace="~{partials :: scripts}"></div>
</body>

</html>