<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{partials :: head}"> </head>

<body id="bg-gradient">
    <!-- Container -->
    <div class="container-fluid">

        <!-- Navbar -->

        <div class="container">
            <nav th:replace="~{partials :: navbar-index}">
            </nav>
        </div>

        <!-- Conteúdo da página -->

        <!-- Formulário de cadastro -->
        <div class="container-md text-center mt-0">
            <div class="row text-light">
                <h2 class="text-light">Formulário de Cadastro</h2>
                <p>Preencha seus dados abaixo. <br>Caso já possua cadastro, faça <a href="/hellobank/view/login"
                        class="text-warning"> log in</a>.</p>
            </div>
        </div>
        <div class="container-sm w-50">
            <form th:action="@{/hellobank/view/cadastro}" th:object="${novoCliente}" method="post">
                <div class="col">
                    <div class="form-floating mb-4">
                        <input th:field="*{nome}" type="text" class="form-control" id="nome" placeholder="Nome e Sobrenome">
                        <label for="nome">Nome Completo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-4">
                            <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="nome@email.com">
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-4">
                            <input th:field="*{senha}" type="password" class="form-control" id="senha" placeholder="******">
                            <label for="senha">Senha</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-4">
                        <input th:field="*{endereco}" type="text" class="form-control" id="endereco" placeholder="Endereço Completo">
                        <label for="endereco">Endereco</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-4">
                            <input th:field="*{cpfCnpj}" type="number" class="form-control" id="cpfCnpj" placeholder="000.000.000-00">
                            <label for="cpfCnpj">CPF | CNPJ</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-4">
                            <input th:field="*{contato}" type="text" class="form-control" id="floatingContato" placeholder="(xx) 99999-9999">
                            <label for="floatingContato">Contato</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center align">
                            <button class="btn btn-lg btn-outline-info mx-3 border-light" type="reset" style="color: var(--bs-light)">Limpar</button>
                            <input type="submit" class="btn btn-lg btn-warning mx-3" value="Cadastrar"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer th:replace="~{partials :: footer-login}"></footer>

    <div th:replace="~{partials :: scripts}"></div>

</body>

</html>