<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>HelloBank - Inicio</title>
</head>

<body>

    <div class="container-fluid p-0 m-0">
        <div class="nav-bg-gradient h-auto">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark p-5 sticky-top">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light h4" href="#"><strong
                                class="text-warning">Hello</strong>Bank</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbar">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li></li>
                            </ul>
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <div class="d-flex">
                                    <li>
                                        <p class="navbar-text mx-4"> Bem-vindo, <strong>Nome de Usuário</strong></p>
                                    </li>
                                    <li>
                                        <a class="btn btn-outline-warning" href="login.html">Sair</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container px-lg-5">
            <div class="row align-items-start align-content-center justify-content-center m-4 p-4">
                <a class="col-1 menu-options btn btn-outline-dark" href="saldo.html"> <i class="fa-solid fa-sack-dollar menu-icon-lg"></i> Saldo </a>
                <a class="col-1 menu-options btn btn-outline-dark" href="deposito.html"> <i class="fa-solid fa-money-bill-1-wave menu-icon-lg"></i> Depósito </a>
                <a class="col-1 menu-options btn btn-outline-dark" href="extrato.html"> <i class="fa-solid fa-money-bill-trend-up menu-icon-lg"></i> Extrato </a>
                <a class="col-1 menu-options btn btn-outline-dark" href="saque.html"> <i class="fa-solid fa-hand-holding-dollar menu-icon-lg"></i> Saque </a>
                <a class="col-1 menu-options btn btn-outline-dark" href="transferencia.html"> <i class="fa-solid fa-money-bill-transfer menu-icon-lg"></i> Transferir </a>
                <a class="col-1 menu-options btn btn-outline-dark" href="nova_conta.html"> <i class="fa-solid fa-square-plus menu-icon-lg"></i> <span style="font-size: 0.9em">Nova Conta</span> </a>
                <a class="col-1 menu-options btn btn-outline-dark" href="#"> <i class="fa-solid fa-id-card menu-icon-lg"></i> Meus dados </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>