<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{partials :: head}"></head>

<body>

    <div class="container-fluid p-0 m-0">
        <div class="nav-bg-gradient h-auto">
            <div class="container">
                <nav th:replace="~{partials :: navbar}"></nav>
            </div>
        </div>

        <div class="container px-lg-5">
            <div th:replace="~{partials :: menu}"></div>
        </div>
    </div>

    <div th:replace="~{partials :: scripts}"></div>
</body>

</html>