<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{partials :: head}">

<body>
    <div class="container-fluid py-0" id="bg-gradient">
        <div class="container">

            <nav th:replace="~{partials :: navbar-index}"></nav>
        </div>

        <div class="container text-start justify-content-center">
            <div class="row mt-5">
                <div class="col-lg-5">
                    <h1 class="text-light" style="font-size: 4em"><span class="text-warning"
                            style="font-weight:900;">Hello</span>Bank</h1>
                    <p class="text-light"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et
                        blandit ante. Donec finibus interdum laoreet. Donec sit amet quam.</p>
                </div>
                <p class="text-light"><a class="btn btn-lg btn-warning" href="/hellobank/view/login">Acesse</a> ou <a
                        href="form_cadastro.html" class="text-warning">
                        cadastre-se</a>.</p>
            </div>
        </div>
    </div>

    <footer th:replace="~{partials :: footer-index}"></footer>

    <div th:replace="~{partials :: scripts}"></div>
</body>

</html>