<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Login</title>
</head>

<body id="bg-gradient">
    <div class="container-fluid py-0">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark p-5 sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand text-light h4" href="#"><strong class="text-warning">Hello</strong>Bank</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li></li>
                        </ul>
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <div class="d-flex">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Início</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Como Usar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sobre o Projeto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">GitHub</a>
                                </li>
                                <li>
                                    <a class="btn btn-outline-warning" href="login.html">Login</a>
                                </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container text-center justify-content-center">
            <div class="row mb-2">
                <h1 class="text-light">Log In</h1>
                <p class="text-light">Não possui senha? Por favor, <a href="form_cadastro.html" class="text-warning">
                        cadastre-se</a>.</p>
            </div>
            <div class="row justify-content-center form-container">
                <div class="">
                    <form>
                        <fieldset>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingCpfCnpj"
                                    placeholder="000.000.000-00">
                                <label for="floatingCpfCnpj">CPF ou CNPJ</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Senha</label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <a class="btn btn-lg btn-login" href="inicio.html">Acessar</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="container footer mt-5 mb-0 pb-0">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Início</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Como Usar</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Sobre o projeto</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">GitHub</a></li>
            </ul>
            <p class="text-center text-light">2022 - If Black Then Code, Grupo 2</p>
            </footer>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

</html>