<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{partials :: head}"></head>

<body>

    <div class="container-fluid p-0 m-0">
        <div class="nav-bg-gradient h-auto">
            <div class="container">
                <nav th:replace="~{partials :: navbar}"></nav>
            </div>
        </div>

        <div th:fragment="sidebar" class="container px-lg-5">
            <div class="row align-items-start align-content-center justify-content-center m-3">
                <div class="container justify-content-center mb-3">
                    <button class="btn btn-md btn-light col-lg-1 mx-auto" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        Menu
                    </button>
                    <a class="col-lg-1 btn btn-md btn-light mx-auto" href="/hellobank/inicio">
                        Início
                    </a>
                    <div class="offcanvas offcanvas-start menu-offcanvas" data-bs-backdrop="static" tabindex="-1"
                        id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                        <div class="offcanvas-header">
                            <h3 class="offcanvas-title text-light" id="staticBackdropLabel">Opções</h3>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="saldo.html"> <i
                                        class="fa-solid fa-sack-dollar menu-icon-lg"></i> Saldo </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="extrato.html"> <i
                                        class="fa-solid fa-money-bill-trend-up menu-icon-lg"></i> Extrato </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="saque.html"> <i
                                        class="fa-solid fa-hand-holding-dollar menu-icon-lg"></i> Saque </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="transferencia.html"> <i
                                        class="fa-solid fa-money-bill-transfer menu-icon-lg"></i> Transferir </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="nova_conta.html"> <i
                                        class="fa-solid fa-square-plus menu-icon-lg"></i> <span>Nova Conta</span> </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="deposito.html"> <i
                                        class="fa-solid fa-money-bill-1-wave menu-icon-lg"></i> Depósito </a>
                                <a class="col-1 menu-options-sm btn btn-outline-warning" href="config_dados.html"> <i
                                        class="fa-solid fa-id-card menu-icon-lg"></i> Meus dados </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container justify-content-center border p-3 rounded-4 ">

                    <form class="m-1">
                        <legend><b>Saldo</b> - Minhas Contas </legend>
                        <div class="accordion" id="accordionExample">
                            <div th:each="conta : ${contas}" class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  Accordion Item #1
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                                <div class="accordion-body">
                                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
            <div class="container mt-5 mb-0 pb-0 pt-5">
                <p class="text-center text-muted border-bottom m-1">Grupo 2</p>
                <p class="text-center text-muted m-1">2022 - If Black Then Code</p>
            </div>
        </div>
        
    </div>
    


    <div th:replace="~{partials :: scripts}"></div>
</body>

</html>